@import url(fonts.css);

:root {
	--white: #ffffff;
	--black: #182018;
	--gray: #565656;
	--light-blue: #ecf7fb;
	--link-blue: #678dc6;
	--teal: #b1c8c3;
	--gold: #ffd600;
	--rust: #663333;
}

body {
	margin: 0;
	font-family: 'Playfair Display';
}

h1, h2, h3 {
	font-family: 'Playfair Display SC';
	text-align: center;
	margin: 0;
}

h2 {
	color: var(--rust);
	font-size: 50px;

	@media(max-width: 850px) {
		font-size: 45px;
	}
}

p {
	margin: 0;
}

.cursive {
	font-family: 'Allison';
	font-weight: normal;
}

.join-link {
	display: flex;
	align-items: center;
	gap: 12px;
	color: var(--white);
	font-weight: bold;
	font-family: 'Playfair Display SC';
	letter-spacing: 1px;
	padding: 20px;
	background: var(--rust);
	border-radius: 7px;
	text-decoration: none;

	&.transparent {
		background: none;
	}

	img {
		height: 50px;
	}

	@media(max-width: 850px) {
		font-size: 14px;

		img {
			height: 45px;
		}
	}
}

.trees {
	width: 45px;
}

.hidden {
	display: none;
}
